#grad {
	background-image: linear-gradient(to right, #F8FF00, #A4FF00)
}

#box {
  margin-left: 40%;
  margin-top: 10%;
  width: 250px;
  height: 500px;
  box-shadow: 0 4px 8px 0 grey;
  text-align: center;
  border-radius: 25px;

}
.ok {
	margin: 5%;
}
.ok2 {
	margin: 10%;
}
button {
	text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #FF0086;
  border-radius: 10px;
  border-color: white;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
}
.otsikko {
	padding-top: 5%;
	background-color: #ED0086;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;

}
#tulos {
	display: none;
}
span.fontit {
	font-style: italic;
}
